<div class="navBar" id="navBar" >
    <div class="navbarText">
        <%= link_to "Home", root_path %>
        <%= link_to "Practical Information", practical_information_path %>
        <%= link_to "Wedding List", wedding_list_path %>
        <%= link_to "Q & A", qa_path %>
    </div>
    <br>
    <div class="navbarArrow arrowRemove arrowAnimate" onclick="navBar()" style="cursor: pointer;">
        <p id="navbarAidText">NAVIGATION</p>
        <i id="navbarArrow" class="fas fa-angle-down"></i>
    </div>
</div>

<script type="text/javascript">

function navBar() {
    document.getElementById("navBar").classList.toggle("moveDown");
    document.getElementById("navbarArrow").classList.toggle("flip");
}

</script>

<div class="mobileMenuButton" onclick="mobileMenu()">
    <i class="fas fa-bars"></i>
</div>
<div class="mobileMenuButton" onclick="mobileMenuClose()" id="closeCross">
    <i class="fas fa-times"></i>
</div>

<div id="navBarMobile" >
    <div class="navbarMobileText">
       <%= link_to "Home", root_path %>
        <%= link_to "Practical Information", practical_information_path %>
        <%= link_to "Wedding List", wedding_list_path %>
        <%= link_to "Q & A", qa_path %>
        <br><br><br>
    </div>
</div>

<script type="text/javascript">

function mobileMenu() {
    document.getElementById("navBarMobile").classList.toggle("moveRight");
    document.getElementById("closeCross").classList.toggle("getVisible");
}

function mobileMenuClose() {
    document.getElementById("navBarMobile").classList.toggle("moveRight");
    document.getElementById("closeCross").classList.toggle("getVisible");
}

</script>