<div class="navBar" id="navBar" >
    <div class="navbarText">
        <%= link_to "Home", root_path %>
        <%= link_to "Schedule", schedule_path %>
        <%= link_to "Getting There", getting_there_path %>
        <%= link_to "Accomodations", accomodation_path %>
        <%= link_to "Wedding List", wedding_list_path %>
        <%= link_to "Q & A", qa_path %>
    </div>
    <br><br>
    <div class="navbarArrow arrowRemove arrowAnimate" onclick="navBar()" style="cursor: pointer;">
        <p id="navbarAidText">NAVIGATION</p>
        <i id="navbarArrow" class="fas fa-angle-down"></i>
    </div>
</div>

<script type="text/javascript">

function navBar() {
    document.getElementById("navBar").classList.toggle("moveDown");
    document.getElementById("navbarArrow").classList.toggle("flip");
}

</script>