<div class="theContainer">
    <div class="mainImages clickThrough">
        <div class="bottomLeftImg">
            <%= image_tag  "hornBill.svg" %>
        </div>
        <div class="topRightImg">
            <%= image_tag  "leaves.svg" %>
        </div>
    </div>
    <div class="mainContainer">
        <div class="container-fluid no-padding">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="leftSide lightBlueBG">
                        <div class="onlymWeb">
                             <div class="formContainer">
                                
                                <br><br><br><br><br><br><br><br>
                            <div class="formInfoContainer">
                                <p>Together with their parents
                                </br>Marie-Laure Léonard & Sebastiaan Claes 
                                </br>Request the honor of your presence at their marriage</p>
                                <br>
                                <p>At l’Eglise Saint-Martin
                                </br>Saturday, October 5th, 2019
                                </br>2.00 o’clock in the afternoon
                                </br>1390 GREZ-DOICEAU, BELGIUM</p>
                                <br>
                                <p class="titleText">Reception</p>
                                <p>Mrs François Léonard
                                </br>Mrs André Claes
                                </br>request the pleasure of your company at la ferme d’Arnelle 
                                </br>On Saturday, October 5th from 4.00 to 6.30 pm</p>
                                <br>
                            </div>
                            <br><br><br>
                            <%= form_for :form, url: answer_1_path  do |f|%>
                                <div class="flexRow">
                                    <div class="flexRowItem">
                                        <%= f.label :prenom, 'First Name(s)'%>
                                        <%= f.text_field :prenom %>
                                    </div>
                                    <div style="width: 10px;"></div>
                                    <div class="flexRowItem">
                                        <%= f.label :nom, 'Last Name(s)'%>
                                        <%= f.text_field :nom %>    
                                    </div>
                                </div>
                                <br><br>
                                <div class="flexRow">
                                    <div class="flexRowItem">
                                        <%= f.label :invite, 'Which song makes you dance all night long?' %>
                                        <%= f.text_field :dance_question %>
                                    </div>
                                </div>
                                <br><br>
                                <div style="display: flex; justify-content: center;">
                                    <p style="font-size: 24px;">Will you be attending?</p>
                                </div>
                                <br><br>
                                <div class="flexRowCheckbox">
                                    <%= f.label :RECEPTION, 'Reception' %>
                                    <%= f.check_box "RECEPTION", label: "reception"  %>
                                </div>
                                <br>
                                <div class="formSubmit">
                                    <%= f.submit "Confirm Invitation"%>
                                <div>
                            <% end %>

                        <br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                        </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 no-padding onlyWebLoad">
                    <div class="rightSide">
                        <br><br><br><br><br><br><br><br>
                        <div class="formContainer">
                        <br><br><br><br><br><br><br><br>
                            <div class="formInfoContainer">
                                <p>Together with their parents
                                </br>Marie-Laure Léonard & Sebastiaan Claes 
                                </br>Request the honor of your presence at their marriage</p>
                                <br>
                                <p>At l’Eglise Saint-Martin
                                </br>Saturday, October 5th, 2019
                                </br>2.00 o’clock in the afternoon
                                </br>1390 GREZ-DOICEAU, BELGIUM</p>
                                <br>
                                <p class="titleText">Reception</p>
                                <p>Mrs François Léonard
                                </br>Mrs André Claes
                                </br>Request the pleasure of your company at la ferme d’Arnelle
                                </br>On Saturday, October 5th from 4.00 to 6.30 pm</p>
                                <br>
                            </div>
                            <br><br><br>
                            <%= form_for :form, url: answer_1_path  do |f|%>
                                <div class="flexRow">
                                    <div class="flexRowItem">
                                        <%= f.label :prenom, 'First Name(s)'%>
                                        <div style="width: 10px;"></div>
                                        <%= f.text_field :prenom %>
                                    </div>
                                    <div class="flexRowItem">
                                        <%= f.label :nom, 'Last Name(s)'%>
                                        <%= f.text_field :nom %>    
                                    </div>
                                </div>
                                <br><br>
                                <div class="flexRow">
                                    <div class="flexRowItem">
                                        <%= f.label :invite, 'Which song makes you dance all night long?' %>
                                        <%= f.text_field :dance_question  %>
                                    </div>
                                </div>
                                <br><br>
                                 <div style="display: flex; justify-content: center;">
                                    <p style="font-size: 24px;">Will you be attending?</p>
                                </div>
                                <br><br>
                                <div class="flexRowCheckbox">
                                    <%= f.label :RECEPTION, 'Reception' %>
                                    <%= f.check_box "RECEPTION", label: "reception"  %>
                                </div>
                                <br>
                                <div class="formSubmit">
                                    <%= f.submit "Confirm Invitation"%>
                                <div>
                            <% end %>

                        <br><br><br><br><br><br><br><br>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

