<div class="forMWeb">
    <div class="mWebImg">
        <%= image_tag  "openInWeb.svg", :class => "img-responsive" %>
    </div>
</div>
<div class="mainOpening onlyWebLoad">
    <div class="invitationText">
        <%= image_tag  "together-with-your-family.svg" %>
    </div>
    <div class="layer1 imgLayer">
        <%= image_tag  "layer1.svg" %>
    </div>
    <div class="layer2 imgLayer">
        <%= image_tag  "layer2.svg" %>
    </div>
    <div class="layer3 imgLayer">
        <%= image_tag  "layer3.svg" %>
    </div>
    <div class="layer4"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.8.5/jquery-ui.min.js" integrity="sha256-fOse6WapxTrUSJOJICXXYwHRJOPa6C1OUQXi7C9Ddy8=" crossorigin="anonymous"></script>
<script src="assets/script.js"></script>