<div class="forMWeb">
    <div class="mWebImg">
        <%= image_tag  "openInWeb.svg", :class => "img-responsive" %>
    </div>
</div>
<div class="mainOpening onlyWebLoad" id="introAnimation" onclick="introAnimation()">
    <div class="invitationText" id="couponAnimation">
        <div style="display: flex; flex-direction: column; align-items:center; justify-content:center;">
        <%= image_tag  "together-with-your-family.svg" %>
        <p onclick="introAnimation()" class="clickHere" style="color: #323159;" id="clickHere"> Click <p>
        </div>
    </div>
    <div class="layer1 imgLayer" id="leafLayer1">
        <%= image_tag  "layer1.svg" %>
    </div>
    <div class="layer2 imgLayer" id="leafLayer2">
        <%= image_tag  "layer2.svg" %>
    </div>
    <div class="layer3 imgLayer" id="leafLayer3">
        <%= image_tag  "layer3.svg" %>
    </div>
    <div class="layer4" id="bgLayerAnimation"></div>
</div>
<div class="theContainer">
            <div class="mainImages clickThrough">
                <div class="bottomLeftImg">
                    <%= image_tag  "hornBill.svg" %>
                </div>
                <div class="topRightImg">
                    <%= image_tag  "leaves.svg" %>
                </div>
            </div>
            <div class="mainContainer">
                <div class="container-fluid no-padding">
                    <div class="row">
                        <div class="col-md-6 no-padding">
                            <div class="leftSide lightGreen">
                                <div class="onlymWeb">
                                    <%= image_tag  "name-mWeb.svg", :class => "mWebNameImage" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 no-padding onlyWebLoad">
                            <div class="rightSide">
                                <%= image_tag  "name.svg", :class => "onlyWebLoad" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">

function introAnimation() {
    document.getElementById("leafLayer1").classList.add("leafAnimation1");
    document.getElementById("leafLayer2").classList.add("leafAnimation2");
    document.getElementById("leafLayer3").classList.add("leafAnimation3");
    document.getElementById("couponAnimation").classList.add("couponAnimation");
    document.getElementById("bgLayerAnimation").classList.add("couponAnimation");
    document.getElementById("clickHere").classList.add("noOpacity");

    var delayInMilliseconds = 4000;

    setTimeout(function() {
        document.getElementById("introAnimation").classList.add("invisible");
    }, delayInMilliseconds);
    };

</script>